
* {
    margin: 0;
    padding: 0;
}
a, li, ul {
    text-decoration: none;
}

#logo {
    padding-left: 2px;
    float: left;
    height: 60px;
    width: 60px;
    background: #206E8C;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin: 15px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    width: 880px;
    margin:50px auto 30px auto;
}
#header {
    color: #206E8C;
    font-family: sans-serif;
}

#header h1 {
    width: fit-content;
}

#container {
    width: 100%;
    background-color: #206E8C;
    margin:auto;
}

#container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#container li a:hover {
    background-color: #5D91A6;
}

#weekdays {
    padding: 5px;
    width: 100%;
    display: flex;
    color: #206E8C;
}
#weekdays li {
    width: 100px;
    padding: 10px;
}
#container ul {
    list-style: none;
    display: flex;
}

#container ul li a {
    color: #fff;
    text-decoration: none;
}

#todo-form {
    margin-top: 20px;
    display: flex;
    margin-top: 40px;
    padding-top: 5px;
    text-align: center;
}

#task-name {
    padding: 10px;
    flex-grow: 1;
    margin-right: 10px;
}

#todo-form #task-name{
    width: 60%;
}
input .form-task {
    margin-left: 10px;
    margin-right: 20px;
    border: 1px solid #206e8c;
    border: none;
    outline: none;
    box-shadow: 0px 0px 2px gray;
}
#todo-form button {
    margin-left: 10px;
    padding: 10px;
    color: #206E8C;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.stats li {
    flex-basis: 33%;
    text-align: center;
}

.todos {
    list-style: none;
    margin-top: 20px;

}

.todos li {
    padding: 10px;
    height: max-content;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #206E8C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.todos li div {
    flex-grow: 1;
    margin-right: 10px;

}

/*.remove-task {*/
/*    display:inline;*/
/*    align-items: center;*/
/*    background-color: #FFE7E7;*/
/*    background-position: 0 0;*/
/*    border-radius: 11px;*/
/*    border: 2px solid #FEE0E0;*/
/*    box-sizing: border-box;*/
/*    color: #D33A2C;*/
/*    cursor: default;*/
/*    width:fit-content;*/
/*    height: 30px;*/
/*    padding: 2px 12px;*/
/*    text-align: center;*/
/*    word-break: break-word;*/
/*}*/

.todos li input[type=checkbox]{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.todos button {
    margin-bottom: 10px;
}

#weekdays li{
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: white;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
    border-radius: 3px;
}

#weekdays li:nth-child(1) {
    background-color: #d36c6c;
}

#weekdays li:nth-child(2) {
    background-color: rgb(106, 197, 167);
}

#weekdays li:nth-child(3) {
    background-color: #92a1d1;
}

#container2{
    width:400px;
    margin:20px auto;
    padding:20px;
    text-align:center;
}

#pomodoro-header{
    color: black;
}

#timer{
    color:#fff;
    font-size:50px;
    margin:10px auto;
    border : 2px solid white;
    border-radius:50%;
    width:200px;
    height:200px;
    overflow:hidden;
    position:relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
    background : #206E8C;
}

#time{
    margin-top:70px;
    z-index : 1;
    position:relative;
}

#filler{
    background : rgb(147, 191, 207);
    height: 0px;
    width: 200px;
    position:absolute;
    bottom:0;
}

#buttons {
    position: center;
}

#buttons button {
    background:#92a1d1;
    border:none;
    color:#fff;
    cursor:pointer;
    padding:5px;
    width:90px;
    margin:10px auto;
    font-size:14px;
    height : 50px;
    border-radius : 50px;
}

#buttons button#shortBreak{
    background : rgb(174, 219, 206);
}

#buttons button#longBreak{
    background : rgb(106, 197, 167);
}

#buttons button#stop{
    background : #d36c6c;
}
