@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.navigation{
    position: relative;
    width: 50px;
    height: 50px;
    background: #ffffff;
    transition: 0.5s;
    z-index: 100000;
    border-radius: 4px;
    overflow: hidden;
    transition: width 0.5s,height 0.5s;
    transition-delay: 0s,0.75s;

}
.navigation.active{
    width: 400px;
    height: 270px;
    transition: height 0.5s,width 0.5s;
    transition-delay: 0s,0.75s;

}
.navigation .toggle{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #649db4;
    transition: 0.5s;

}
.navigation .toggle.active{
    background: #206E8C;

}
.navigation .toggle::before{
    content: 'Drinks';
    position: absolute;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    font-weight: 400;
    transition: 0.5s;
    /*background-color: #649DB4;*/
}
.navigation .toggle.active::before{
    transform: rotate(315deg);
}

.navigation ul{
    background-color: #2888AD;
    position: absolute;
    left: 0;
    width: 100%;
}
.navigation ul li{
    list-style: none;
    position: relative;
    width: 100%;
    color: white;
}
.navigation ul li:hover{
    background: #649db4;
}
.navigation ul li a{
    position: relative;
    display: block;
    display: flex;
    width: 100%;
    padding: 3%;
    text-decoration: none;
    color: #206E8C;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.navigation ul li a .icon .fa{
    font-size: 24px;
    color: white;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
    color: white;

}
.navigation ul li:hover a .icon .fa,
.navigation ul li:hover a .title{
    color: white;
}

.form{
    background-color: #2888AD;
    color: #ffffff;
    position: absolute;
    width: 100%;

}

.navigation h1{
    background-color: #2888AD;
    color: #ffffff;
    position: relative;
    padding: 3%;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    /* position: absolute; */
    /* width: 100%; */
}

.form button{
    background-color: #ffffff;
    color: #ffffff;
    border-color: #649db4;
    position: relative;
    width: 20%;

}
.navigation button{
    background-color: #206E8C;
    color: #ffffff;
    border-color: #2888AD;
    position: relative;
    /* width: 20%; */

}

.btn {

    display:block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid;
    font-weight: bold;

}

.form_drink{
    background-color: #2888AD;

}